
<div class="row d-flex justify-content-center">
  <div class="col-md-9">
    <h1 class="display-4"><span>Blue Case</span></h1>

    <p class="lead">Participe da votação para selecionar o melhor empreendimento imobiliário de Goiânia!</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <a class="alert-link" (click)="vote()">Ir para a votação</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Faça seu login e participe da votação para selecionar o melhor empreendimento imobiliário de Goiânia!</span>
        <a class="alert-link" (click)="login()">sign in</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Você ainda não possui uma conta?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Registre-se</a>
      </div>
    </div>

  </div>
</div>
