<div class="d-flex justify-content-center">
  <form name="voteForm" role="form" (ngSubmit)="save()" [formGroup]="voteForm" novalidate>
    <jhi-alert class="row col-12"></jhi-alert>

    <div class="container-fluid" *ngFor="let empreendimento of empreendimentosSharedCollection; trackBy: trackEmpreendimentoById" style="margin-bottom: 6px">
      <div class="row">

        <div class="row col-12 ">
          <div class="card border-primary col-9">
            <h4> {{ empreendimento.nome }} </h4>
            <p > {{ empreendimento.endereco }}</p>
          </div>
          <div class="col-3">
            <button
              [disabled]="voteForm.invalid || isSaving"
              (click)="selectedEmpreendimento(empreendimento)"
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="voteForm.invalid || isSaving"
              class="btn btn-success btn-lg h-100">
              Votar
            </button>
          </div>
        </div>
        <div class="col-9" style="padding-left: 0px; padding-right: 18px">
          <jhi-voto-progess [selectedEmpreendimento]="empreendimento"></jhi-voto-progess>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- ------------------------------------------------------------- | ------------------------------------------------------------- -->
<!-- <div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-voto-heading" data-cy="VotoCreateUpdateHeading">Create or edit a Voto</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_empreendimento">Empreendimento</label>
          <select
            class="form-control"
            id="field_empreendimento"
            data-cy="empreendimento"
            name="empreendimento"
            formControlName="empreendimento"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                empreendimentoOption.id === editForm.get('empreendimento')!.value?.id
                  ? editForm.get('empreendimento')!.value
                  : empreendimentoOption
              "
              *ngFor="let empreendimentoOption of empreendimentosSharedCollection; trackBy: trackEmpreendimentoById"
            >
              {{ empreendimentoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
 -->
