<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="empreendimento">
      <h2 data-cy="empreendimentoDetailsHeading"><span>Empreendimento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ empreendimento.id }}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
          <span>{{ empreendimento.nome }}</span>
        </dd>
        <dt><span>Endereco</span></dt>
        <dd>
          <span>{{ empreendimento.endereco }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/empreendimento', empreendimento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
